<header>
  <h1>url Shorter</h1>
</header>
<section class="container">
  <form
    #urlForm="ngForm"
    (ngSubmit)="onSubmitUrlForm(urlForm)"
    autocomplete="off"
  >
    <input
      type="url"
      name="inputUrl"
      class="form-input"
      placeholder="your url"
      [(ngModel)]="inputUrl"
    />
    <div class="form-error">
      <p>please enter url</p>
    </div>
    <button type="submit" class="form-btn">Generate</button>
  </form>

  <div class="short-url-div">
    <h2>Generated URL Link</h2>
    <div>
      <p>
        Shortened URL: <a [href]="shortenedUrl" target="_blank">{{ shortenedUrl }}</a>
      </p>
    </div>
    <div class="short-url-btn-div">
      <button (click)="copyToClipboard()">copy</button>
      <button (click)="resetForm(urlForm)">Reset</button>
    </div>
  </div>
</section>
